#headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#subhead {
  font-size: 2em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}

footer {
font-size: 1em;
color: white;
background-color: black;
text-align: center;

}
p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}
