#headline{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #1434A4	;
  background: gold;

}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #1434A4	;
}

#subhead {
  font-size: 2em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}

footer {
font-size: 1em;
color: white;
background-color: black;
text-align: center;

}
p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
  margin-left: 75px;
  margin-right: 75px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #1434A4	;
  font-weight: 700;
  margin-left: 75px;
  margin-right: 75px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
font-weight: 700;
  color: #<iframe title="Occupational Safety and Health Administration action in 2020 " aria-label="Bar Chart" id="datawrapper-chart-dXvHa" src="https://datawrapper.dwcdn.net/dXvHa/4/" scrolling="no" frameborder="0" style="border: none;" width="700" height="176"></iframe>;
  margin-left: 75px;
  margin-right: 75px;
  font-weight: bold;

}

figcaption {
  font-family: 'Montserrat', sans-serif;
  color: #1434A4	;
  margin-left: 250px;
  margin-right: 250px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #1434A4;
  margin-left: 75px;
  margin-right: 75px;
  font-weight: normal;
}
